*.mid
*.h5
*.npz
*.zip
# ignore any subfolder named 
**/__pycache__/
**/.idea/
*.midi
*.png
*.csv
*.wav
*.xopp
*.pk
*.json

token_github.txt

# LTSM_project
LSTM_project/dataset/
LSTM_project/deutschl/
LSTM_project/file_dataset
LSTM_project/mapping.json
LSTM_project/mel.mscz

# transformer-XL project
transformer-xl/.idea/*
transformer-xl/data/cutted_midi
transformer-xl/data/midi_temp
transformer-xl/data/midis
transformer-xl/data/oldnpz
transformer-xl/nodes/*
transformer-xl/logs/old
transformer-xl/logs/smallDataset
