*.mid
*.h5
*.npz
*.zip
# ignore any subfolder named 
**/__pycache__/
**/.idea/
*.midi
*.png
*.csv
*.wav
*.xopp
*.pk

token_github.txt

# LTSM_project
LSTM_project/dataset/
LSTM_project/deutschl/
LSTM_project/file_dataset
LSTM_project/mapping.json
LSTM_project/mel.mscz

# transformer-XL project
transformer-xl/.idea/*
transformer-xl/npz_music/*
transformer-xl/generated_samples/
transformer-xl/maestro/
transformer-xl/datasets/
transformer-xl/generated_midis_gitRepo/text/
transformer-xl/gpuLogs/
